/* Reset (no background change) */
    .t1-row td {
        background: transparent;
        font-weight: bold;
    }

    /* TOP and BOTTOM border (full row line) */
    .t1-row td {
        border-top: 2px solid #000 !important;
        border-bottom: 2px solid #000 !important;
    }

    /* LEFT side of the box */
    .t1-row td:first-child {
        border-left: 2px solid #000 !important;
    }

    /* RIGHT side of the box */
    .t1-row td:last-child {
        border-right: 2px solid #000 !important;
    }
